html{
  background-color: #6dab72;
}
h1{
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
h2{
  margin-top: 5vh;
}
.container{
		width: 75%;
    background-color: white;
    border-radius: 25px;
    margin: 0 auto;
	}
.panel{
    outline: 3px solid #6dab72;
		height: 15vw;
		width: 100%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
	}
.post{
    outline: 3px solid #6dab72;
  	height: 8vw;
  	width: 100%;
    background-color: white;
    border-radius: 25px;
}
.text{
  height: 90%;
  width: 95%;
  margin-left: 5%;
}
.comment{
  background-color: #e3e1e1;
  margin-top: 2%;
  height: 60%;
  border-radius: 25px;
  text-align: left;
}
#comment1{
  width: 90%;
  height: 45%;
}
#comment2{
  width: 90%;
  height: 45%;
}
#comment3{
  width: 90%;
  height: 45%;
}
#post2 {
  margin-top: 20%;
}
.login{
  width: 90%;
}
#userpost{
  margin-left: 5%;
  margin-top: 2%;
  height: 40%;
  width: 80%;
}

